@import '../../index.scss';

.nav {
	position: relative;
	padding: 1rem;
	display: flex;
  align-items: center;
  justify-content: space-between;
	background: $primary;
	h3 {
		color: $secondary;
	}
	.icon {
		cursor: pointer;
	}
	.drawer {
		height: 100vh;
		width: 250px;
		background: $primary;
		position: fixed;
		left: calc(-250px - 1rem);
		top: 0;
		transition: 0.2s;
		padding: 1rem;
		padding-left: 0;
		text-align: right;
		box-sizing: content-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: content-box;
		ul {
			margin-bottom: 2rem;
			li {
				margin-bottom: 1rem;
				:first-of-type {
					margin-bottom: 1rem;
				}
				a {
					color: $secondary;
					font-size: 20px;
				}
			}
		}
	}
	div.open {
		left: 0;
		transition: 0.2s;
	}
}
