@import '../../../../index.scss';

.session-card {
  border: 1px solid $primary;
  border-radius: 6px;
  background: rgb(255, 151, 151);
  margin-bottom: 1rem;
}
.complete {
  background: rgb(199, 255, 199);
}