.modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #99999988;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    header, main, footer {
        border: 1px solid;
        padding: 1rem 2rem;
        background-color: white;
    }
    header {
        border-bottom: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    footer {
        border-top: none;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        text-align: right;
    }
    button {
        border: 1px solid;
        border-radius: .25rem;
        text-transform: uppercase;
        padding: .5rem 1rem;
        cursor: pointer;
    }
}