@import '../../index.scss';

.login {
	max-width: 500px;
	border-radius: 6px;
	margin-top: 10rem;
	border: 1px solid $primary;
	box-shadow: 0 3px 7px $primary;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;

	div {
		width: 208px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}

	input[type="text"] {
		margin-bottom: 1rem;
		height: 40px;
		font-size: 16px;
		width: 200px;
	}

	textarea:focus,
	input:focus {
		outline: none;
	}

	button {
		background: transparent;
		border: 1px solid $primary;
		margin-left: auto;
		border-radius: 3px;
		padding: 0.5rem 1rem;
	}
}

@media (min-width: 992px) {
	.sign-up {
		button:hover {
			background: $primary;
			color: white;
			cursor: pointer;
		}
	}
}
